body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
}
.box{
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}
.data{
  margin-left:40px ;
}

.box-1{
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

/* EmployeeTable.css */

.table-container{
  margin-top: 10%;
}

.employee-table {
  border-collapse: collapse;
  width: 100%;
}

.employee-table th, .employee-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.employee-table th {
  background-color: #f2f2f2;
}
